Source: libanyevent-yubico-perl
Section: perl
Priority: optional
Maintainer: Yubico Open Source Maintainers <ossmaint@yubico.com>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.3
Homepage: http://search.cpan.org/dist/AnyEvent-Yubico
Vcs-Browser: https://github.com/Yubico/yubico-perl-client
Vcs-Git: git://github.com/Yubico/yubico-perl-client.git

Package: libanyevent-yubico-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: AnyEvent based Perl module for validating YubiKey OTPs.
 Validates a YubiKey OTP (One Time Password) using the YKVAL 2.0 protocol as
 defined here:
 https://github.com/Yubico/yubikey-val/wiki/ValidationProtocolV20
 Provides both blocking and non-blocking methods of OTP validation.
 To use this module, an API key is required, which can be requested here:
 https://upgrade.yubico.com/getapikey/
